<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: palevioletred;
        }
    </style>
</head>
<body>
    <center>
        <h1>htmlforms</h1>
        <form method="POST">

            <label for="na">Name</label>
            <input type="text" name="na" id="na"><br>
            <br>
            <label for="age">age</label>
            <input type="text" name="age" id="age"><br><br>

            <input type="submit" value="html_forms">
        </form>
    </center>
</body>
</html>